.emb {
  width: 100%;
}
.padding-left() {
  padding-left: 0px;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: white;
  font-family: "Raleway", sans-serif;
}
.projects-video {
  height: auto;
  .emb();
  margin-top: 30px;
  .padding-left();
  display: flex;
  justify-content: space-around;
}
.first-font {
  color: black;
  font-size: 30px;
}
#audio {
  margin-left: 50px;
  margin-top: 200px;
}
.youtube-video {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .header {
    .emb();
  }
  .projects-video {
    padding-left: 20px;
    flex-direction: column;
  }
  #audio {
    margin-left: 0px;
    margin-top: 0px;
    .emb();
  }
  .youtube-video {
    .emb();
    margin-left: 0px;
    .padding-left();
  }
  iframe {
    width: 90%;
    margin-left: 0;
    .padding-left();
  }
  object {
    .emb();
  }
  embed {
    .emb();
  }
  #logo-div {
    .emb();
  }
  .title {
    font-size: 15px;
  }
  hr {
    display: none;
  }
  audio {
    width: 250px;
  }
  #emb {
    .emb();
  }
}
